.App {
  position: relative;
}

.addItem {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(58, 58, 75, 0.678);
  position: absolute;
  z-index: 100;
}

.pointer {
  cursor: pointer;
}
